{% extends "layout.html" %}

{% block body %}
<table>
 <tr>
  <td colspan="2">
   <table class="matchtable"> 
    <tr>
      <td class="matchdate"">{{ match.date.strftime('%d.%m.%Y') }} </td>
      <td class="matchtitle">EAST-POOL OTTELU:&nbsp; {{ match.hometeamid }}&nbsp;-&nbsp;{{ match.visitorteamid }}</td>
      <td class="matchscore"> Tilanne:&nbsp;{{ match.homegamenumwins }}&nbsp;-&nbsp;{{ match.visitgamenumwins }}</td>
    </tr>
   </table>
  </td >
  </tr>
  <tr>
   <td class="gameorder" >
    <form method="POST" action="{{ url_for('match_book') }}">
    <table >
       <tr>
           <th class="th-victive"> Peli </>
           <th class="th-less-vic">Tulos</>      
      {% for p in playorder %}
       <tr> 
         
         <td>{{ games[p].homePlayerName }}&nbsp;-&nbsp;{{ games[p].visitPlayerName }}</td> 
         {% if games[p].homeframewins == 0 and games[p].visitorframewins == 0 and games[p].matchid!=selected %}
           <td align="center"><input type="radio" name="next_game" value="{{ games[p].idgame }}"></td>
         {% else %}
           <td align="center">{{ games[p].homeframewins }}&nbsp;-&nbsp;{{ games[p].visitorframewins }}</td>
         {% endif %}
       </tr>
      {% endfor %}
      <tr><td colspan="2"> 
           <input type="hidden" name="match" value="{{match.idmatch}}"/>
           <input type="submit" value="Valitse ja aloita"/></td></tr>
    </table>
    </form>
  </td>
  <td>
  <table class="scoretable" >
    <tr>
      <th ></th>
      <th  colspan="2" class="scorecolumn">{{ games[0].visitPlayerName }}</th>
      <th  colspan="2" class="scorecolumn">{{ games[1].visitPlayerName }}</th>
      <th  colspan="2" class="scorecolumn">{{ games[2].visitPlayerName }}</th>
    </tr>
    <tr>
      <th rowspan="2" class="scorerow">{{ games[0].homePlayerName }}</th>
      <td class="scorenums"></td>
      <td class="scorenums">{{ games[0].visitorframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums">{{ games[1].visitorframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums">{{ games[2].visitorframewins }}</td>
    </tr>
    <tr>
      <td class="scorenums">{{ games[0].homeframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums">{{ games[1].homeframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums">{{ games[2].homeframewins }}</td>
      <td class="scorenums"></td>
    </tr>
    <tr>
      <th rowspan="2" class="scorerow">{{ games[3].homePlayerName }}</th>
      <td class="scorenums"></td>
      <td class="scorenums">{{ games[3].visitorframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums" >{{ games[4].visitorframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums" >{{ games[5].visitorframewins }}</td>
    </tr>
    <tr>
      <td class="scorenums" >{{ games[3].homeframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums" >{{ games[4].homeframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums" >{{ games[5].homeframewins }}</td>
      <td class="scorenums"></td>
    </tr>
    <tr>
      <th rowspan="2" class="scorerow">{{ games[6].homePlayerName }}</th>
      <td class="scorenums"></td>
      <td class="scorenums">{{ games[6].visitorframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums" >{{ games[7].visitorframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums" >{{ games[8].visitorframewins }}</td>
    </tr>
    <tr>
      <td class="scorenums" >{{ games[6].homeframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums" >{{ games[7].homeframewins }}</td>
      <td class="scorenums"></td>
      <td class="scorenums">{{ games[8].homeframewins }}</td>
      <td class="scorenums"></td>
    </tr>
  </table>
{% if frames is defined %}
   </td>
   </tr>
   <tr>
   <td colspan="2">
  <table class="frametable"> 
    <tr>
      {% for frame in frames %}
      <td >{{ frame.winner }} {{ frame.type }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>{{ frames[0].homeplayer}}</td>
      <td><form method="POST" action="{{ url_for('match_book') }}">
        <input type="hidden" name="idmatch" value="{{ games[0].idmatch  }}"/>
        <input type="hidden" name="idgame" value="{{ selected }}"/>
        <input type="hidden" name="player" value="1"/>
        <input type="hidden" name="how" value="1"/>
        <input type="submit" value="Normaali"/>
       </form>
       </td>
       <td>
       <form method="POST" action="{{ url_for('match_book') }}">
        <input type="hidden" name="idmatch" value="{{ games[0].idmatch  }}"/>
        <input type="hidden" name="idgame" value="{{ selected }}"/>
        <input type="hidden" name="player" value="1"/>
        <input type="hidden" name="how" value="2"/>
        <input type="submit" value="Aloitus 9"/>
      </form>
      </td>
      <td>
       <form method="POST" action="{{ url_for('match_book') }}">
        <input type="hidden" name="idmatch" value="{{ games[0].idmatch  }}"/>
        <input type="hidden" name="idgame" value="{{ selected }}"/>
        <input type="hidden" name="player" value="1"/>
        <input type="hidden" name="how" value="3"/>
        <input type="submit" value="A-P"/> 
       </form>
      </td>
      </tr>
      <tr>
      <td>{{frames[0].visitorplayer}}</td>
      <td><form method="POST" action="{{ url_for('match_book') }}">
        <input type="hidden" name="idmatch" value="{{ games[0].idmatch  }}"/>
        <input type="hidden" name="idgame" value="{{ selected }}"/>
        <input type="hidden" name="player" value="2"/>
        <input type="hidden" name="how" value="2"/>
        <input type="submit" value="Normaali"/>
       </form>
       </td>
       <td>
       <form method="POST" action="{{ url_for('match_book') }}">
        <input type="hidden" name="idmatch" value="{{ games[0].idmatch  }}"/>
        <input type="hidden" name="idgame" value="{{ selected }}"/>
        <input type="hidden" name="player" value="2"/>
        <input type="hidden" name="how" value="2"/>
        <input type="submit" value="Aloitus 9"/>
      </form>
      </td>
      <td>
       <form method="POST" action="{{ url_for('match_book') }}">
        <input type="hidden" name="idmatch" value="{{ games[0].idmatch }}"/>
        <input type="hidden" name="idgame" value="{{ selected }}"/>
        <input type="hidden" name="player" value="2"/>
        <input type="hidden" name="how" value="3"/>
        <input type="submit" value="A-P"/>
       </form>
      </td>
    </tr>
    <tr>
     <td><form method="POST" action="{{ url_for('match_book') }}">
      <input type="hidden" name="matchid" value="{{match.idmatch}}"> 
      <input type="hidden" name="back" value=True/>
      <input type="submit" value="Korjaa edellinen"/></form></td>
    </tr>
  </table>
{% endif %}
</td>
</tr>
</table>
{% endblock %}
