{% extends "layout.html" %}

{% block body %}
{% for game in games %}
  {% if loop.index == 0 %}
    {{ game.idmatch }}
    {% set home1 = game.homePlayerName %}
    {% set visit1 = game.visitPlayerName %}
    {% set homeg1 = game.homeframewins %}
    {% set visitg1 = game.visitorframewins %}
  {% endif %}
  {% if loop.index == 1 %}
    {% set visit2 = game.visitPlayerName %}
    {% set homeg4 = game.homeframewins %}
    {% set visitg4 = game.visitorframewins %}
  {% endif %}
  {% if loop.index == 2 %}
    {% set visit3 = game.visitPlayerName %}
    {% set homeg7 = game.homeframewins %}
    {% set visitg7 = game.visitorframewins %}
  {% endif %}
  {% if loop.index == 3 %}
    {% set home2 = game.homePlayerName %}
    {% set homeg8 = game.homeframewins %}
    {% set visitg8 = game.visitorframewins %}
  {% endif %}
  {% if loop.index == 4 %}
    {% set homeg2 = game.homeframewins %}
    {% set visitg2 = game.visitorframewins %}
  {% endif %}
  {% if loop.index == 5 %}
    {% set homeg5 = game.homeframewins %}
    {% set visitg5 = game.visitorframewins %}
  {% endif %}
  {% if loop.index == 6 %}
    {% set home3 = game.homePlayerName %}
    {% set homeg6 = game.homeframewins %}
    {% set visitg6 = game.visitorframewins %}
  {% endif %}
  {% if loop.index == 7 %}
    {% set homeg9 = game.homeframewins %}
    {% set visitg9 = game.visitorframewins %}
  {% endif %}
  {% if loop.index == 8 %}
    {% set homeg3= game.homeframewins %}
    {% set visitg3 = game.visitorframewins %}
  {% endif %}
{% endfor %}

  <table> 
    <tr>
      <td >{{ match.date }}</td>
      <td >{{ match.hometeamid }} -</td>
      <td > {{ match.visitorteamid }}</td>
      <td >{{ match.homegamenumwins }} -</td>  
      <td > {{ match.visitorgamenumwins }}</td>
    </tr>
  </table>

  <table>
    <tr>
      <td ></td>
      <td colspan="2">{{ visit1 }}</td>
      <td colspan="2">{{ visit2 }}</td>
      <td colspan="2">{{ visit3 }}</td>
    </tr>
    <tr>
      <td rowspan="2">{{ home1 }}</td>
      <td></td>
      <td >{{ visitg1 }}</td>
      <td></td>
      <td >{{ visitg4 }}</td>
      <td></td>
      <td >{{ visitg7 }}</td>
    </tr>
    <tr>
      <td >{{ homeg1 }}</td>
      <td></td>
      <td >{{ homeg4 }}</td>
      <td></td>
      <td >{{ homeg7 }}</td>
      <td></td>
    </tr>
    <tr>
      <td rowspan="2">{{ home2 }}</td>
      <td></td>
      <td >{{ visitg8 }}</td>
      <td></td>
      <td >{{ visitg2 }}</td>
      <td></td>
      <td >{{ visitg5 }}</td>
    </tr>
    <tr>
      <td >{{ homeg8 }}</td>
      <td></td>
      <td >{{ homeg2 }}</td>
      <td></td>
      <td >{{ homeg5 }}</td>
      <td></td>
    </tr>
    <tr>
      <td rowspan="2">{{ home3 }}</td>
      <td></td>
      <td >{{ visitg6 }}</td>
      <td></td>
      <td >{{ visitg9 }}</td>
      <td></td>
      <td >{{ visitg3 }}</td>
    </tr>
    <tr>
      <td >{{ homeg6 }}</td>
      <td></td>
      <td >{{ homeg9 }}</td>
      <td></td>
      <td >{{ homeg3 }}</td>
      <td></td>
    </tr>
  </table>
{% if frames is defined %}
  <table>
    <tr>
      {% for frame in frames %}
      <td >{{ frame.winner }} {{ frame.type }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>{{ game.homeplayer}}</td>
      <td><form method="POST" action={{ url_for('match_book', idmatch=match.id, cancel=False, player=1, how=1) }}><input type="submit" value="Normaali"/></form></td>
      <td><form method="POST" action={{ url_for('match_book', idmatch=match.id, cancel=False, player=1, how=2) }}><input type="submit" value="Aloitus 9"/></form></td>
      <td><form method="POST" action={{ url_for('match_book', idmatch=match.id, cancel=False, player=1, how=3) }}><input type="submit" value="AP"/></form></td>
      <td>{{game.visitplayer}}</td>
      <td><form method="POST" action={{ url_for('match_book', idmatch=match.id, cancel=False, player=2, how=1) }}><input type="submit" value="Normaali"/></form></td>
      <td><form method="POST" action={{ url_for('match_book', idmatch=match.id, cancel=False, player=2, how=2) }}><input type="submit" value="Aloitus 9"/></form></td>
      <td><form method="POST" action={{ url_for('match_book', idmatch=match.id, cancel=False, player=2, how=3) }}><input type="submit" value="AP"/></form></td>
    </tr>
    <tr>
     <td><form method="POST" action={{ url_for('match_book',idmatch=match.id, cancel=True) }}><input type="submit" value="Korjaa edellinen"/></form></td>
    </tr>
  </table>
{% endif %}

{% endblock %}
