{% extends "layout.html" %}

{% block body %}
{{ error}}
<p>Aikataulutettavat ottelut:</p>
<Table class="table-striped tbody tr:nth-of-type(odd)">
 <tr>
   <th class="th-victive">Kausi</th>
   <th class="th-less-vic">Koti</th>
   <th class="th-less-vic">Vieras</th>
 </tr>
{% for match in matchs %}
   <tr>
    <td> {{ match.idseason }} </td>   
    <td> {{ match.hometeamid }} -  </td>
    <td> {{ match.visitorteamid }} </td>
   </tr>
{% endfor %}
</table>
<p>Anna joukkueet ja pelipäivä</p>
<form method="POST" action={{ url_for('match_time') }}>
 <table>
  <tr>
   <td>
    {{ form.hometeam.label }}
   </td>
   <td>
    {{ form.hometeam }}
   </td>
   <td>
          <ul>
            {% for error in form.hometeam.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>

  </tr>
  <tr>
   <td>
    {{ form.visitteam.label }}
   </td>
   <td>
    {{ form.visitteam }}
   </td>
<td>
          <ul>
            {% for error in form.visitteam.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>

  </tr>
  <tr>
   <td>
    {{ form.gamedate.label }}
   </td>
   <td>
    {{ form.gamedate }}
   </td>
    <td>
          <ul>
            {% for error in form.gamedate.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>

  </tr>
  <tr>
   <td>
    {{ form.season.label }}
   </td>
   <td>
    {{ form.season }}
   </td> 
   <td>
          <ul>
            {% for error in form.season.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>

  </tr>
  <tr>
      <td colspan="2">
	<input type="submit" value="Talleta"/>
      </td>
    </tr>
 </table>
</form>
{% endblock %}  
