@charset "UTF-8";
/* CSS Document */

.matchdate{
        font-size: 24px;
        padding: 0px 10px 20px 0px;
}

.matchtitle{
        font-size: 40px;
        font-weight: bold;
        padding: 0px 10px 36px 10px;
}

.matchscore{
        font-size: 24px;
        font-weight: bold;
        padding: 0px 0px 20px 10px;

}

.gameorder{
        padding: 5px 50px 5px 5px;
}

.scoretable{
        border: 1px solid black;
        table-layout: fixed;
}

.scorerow{
        width:80px;
        height:80px;
        text-valign: center;
        font-weight: bold;
        padding: 20px;
        border: 1px solid black;
}

.scorecolumn{
        width:80px;
        text-align: center;
        font-weight: bold;
        padding: 20px;
        border: 1px solid black;
}

.scorenums{
        text-align: center;
        width:40px;
        height:40px;
        padding: 10px;
        border: 1px solid green;
}
.th-victive{
        margin-left: 20px;
        margin-right: 20px;
        color:#000;
        background-color:#99ff33;
        font: bold;
        text-align: center;
}
.th-less-vic{
        margin-left: 20px;
        margin-right: 20px;
        color:#000;
        background-color:#99ff66;
        text-align: center;
}
.td-vic{
        width: 100px;
        font-weight: bold;
        text-align: center;
}       
.td-novic{
        width: 80px;
        text-align: center;
}
.td-shortdatetime{
        widht: 150px;
        text-align: left;
}
.td-date{
        widht: 100px;  
        text-align: left;
} 
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
