{% extends "layout.html" %}

{% block body %}
{{ error}}
<p>Ole hyv&auml; ja rekister&ouml;dy.</p>
<form method="POST" action={{ url_for('auth_reg') }}>
 <table>
  <tr>
   <td>
    {{ form.name.label }}
   </td>
   <td>
    {{ form.name }}
   </td>
  </tr>
  <tr>
   <td>
    {{ form.shortname.label }}
   </td>
   <td>
    {{ form.shortname }}
   </td>
  </tr>
  <tr>
   <td>
    {{ form.password.label }}
   </td>
   <td>
    {{ form.password }}
   </td>
  </tr>
  <tr>
   <td>
    {{ form.confirm.label }}
   </td>
   <td>
    {{ form.confirm }}
   </td> 
  </tr>
  <tr>
      <td colspan="2">
	<input type="submit" value="Rekisteröi"/>
      </td>
    </tr>
 </table>
</form>
{% endblock %}  
